/* Regular popup styling */
.province-popup .leaflet-popup-content-wrapper {
  border-radius: 8px;
  padding: 0;
  background: white;
  box-shadow: 0 3px 14px rgba(0,0,0,0.2);
  overflow: hidden;
}

.province-popup .leaflet-popup-content {
  margin: 0;
  width: auto !important;
}

.province-popup .leaflet-popup-tip {
  background: white;
}

/* Ensure the popup has enough space for the arrow */
.province-popup {
  margin-bottom: 10px;
}
.province-label {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.province-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.province-name {
  color: #333;
  font-weight: bold;
  font-size: 12px;
  text-shadow: 2px 2px 2px white, -2px -2px 2px white, 2px -2px 2px white, -2px 2px 2px white;
  text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff;
  white-space: nowrap;
  pointer-events: none;
  text-align: center;
}

.province-popup .leaflet-popup-close-button {
    color: #4a5568;
    font-size: 20px;
    padding: 5px;
    z-index: 10;
}

/* Hover effect for the play button */
.province-popup .group:hover .group-hover\:opacity-50 {
    opacity: 0.5;
}

.province-popup .group:hover .group-hover\:opacity-100 {
    opacity: 1;
}